# Windows
Thumbs.db
Desktop.ini

# macOS
.DS_Store

# Vim
*.swp

# Unity
/Library
/Logs
/Temp

/Extras/pcx-strip/*.o
/Extras/pcx-strip/pcx-strip
/.vs/pcx_git/v15
/Assets/flo
/obj/Debug
/pcx_git.sln
/Pcx.unitypackage
/Pcx.Editor.csproj
/Pcx.csproj
/Assembly-CSharp.csproj
/Assembly-CSharp-Editor.csproj
